
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column justify-content-center">
                <h1 class="text-center">CreateProduct</h1>
                <ejs-textbox id="firstname" placeholder="First Name" floatLabelType="Always" width="300px"></ejs-textbox>
            </div>
        </div>
    </div>
</div>

