@using ThriftShop.Models
@model IEnumerable<Color>
@{
    ViewData["Title"] = "View Colors";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">List Colors</h1>

<div class="container">
	<div class="row"><a asp-area="Admin" asp-controller="Home" asp-action="CreateColor">Create new color..</a></div>
    <div class="row">
        <div class="col-12">
            <ejs-grid id="colors" dataSource="@Model" allowPaging="true" allowSorting="true" allowFiltering="true">
                <e-grid-pagesettings pageSize="5">

                </e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="Id" field="ColorId"></e-grid-column>
                    <e-grid-column headerText="Name" field="ColorType"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</div>
@section Scripts{
}

