@using ThriftShop.Models
@model IEnumerable<Category>
@{
    ViewData["Title"] = "View Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">List Categories</h1>
<div class="container">
	<div class="row"><a asp-area="Admin" asp-controller="Home" asp-action="CreateCategory">Create new category..</a></div>
    <div class="row">
        <div class="col-12">
            <ejs-grid id="categories" dataSource="@Model" allowPaging="true" allowSorting="true" allowFiltering="true">
                <e-grid-pagesettings pageSize="5">

                </e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="Id" field="CategoryId"></e-grid-column>
                    <e-grid-column headerText="Name" field="CategoryName"></e-grid-column>
                    <e-grid-column headerText="CreatedDate"  field="CreatedDateTime"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</div>
@section Scripts{
}

