@using ThriftShop.Client.Areas.Customer.ClientModel;
@model ProductClientModel;
@{
    ViewData["Title"] = "Home";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

        <!-- Begin Slider Area Two -->
        <div class="slider-area slider-area-2">

            <div class="kenne-element-carousel home-slider home-slider-2 transparent-arrow" data-slick-options='{
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "infinite": true,
                "arrows": true,
                "dots": false,
                "autoplay" : true,
                "fade" : true,
                "autoplaySpeed" : 7000,
                "pauseOnHover" : false,
                "pauseOnFocus" : false
                }' data-slick-responsive='[
                {"breakpoint":768, "settings": {
                "slidesToShow": 1
                }},
                {"breakpoint":575, "settings": {
                "slidesToShow": 1
                }}
            ]'>
                <div class="slide-item bg-3 animation-style-01 white-color">
                    <div class="slider-progress"></div>
                    <div class="container">
                        <div class="slide-content">
                            <span>Exclusive Offer -20% Off This Week</span>
                            <h2>Accessories <br> Explore Trending</h2>
                            <p class="short-desc">Aliquam error eos cumque aut repellat quasi accusantium inventore necessitatibus. Vel quisquam distinctio in inventore dolorum.</p>
                            <div class="slide-btn">
                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item bg-4 animation-style-01">
                    <div class="slider-progress"></div>
                    <div class="container">
                        <div class="slide-content">
                            <span>Exclusive Offer -10% Off This Week</span>
                            <h2>Stylist <br> Female Clothes</h2>
                            <p class="short-desc-2">Made from Soft, Durable, US-grown Supima cotton.</p>
                            <div class="slide-btn">
                                <a class="kenne-btn" asp-area="Customer" asp-controller="Product" asp-action="Index">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Slider Area Two End Here -->

        <!-- Begin Banner Area Three -->
        <div class="banner-area-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-6 custom-xxs-col">
                        <div class="banner-item img-hover_effect">
                            <div class="banner-img">
                                <a href="javascrip:void(0)">
                                    <img class="img-full" src="~/Uploads/Images/Home/1.jpg" alt="Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 custom-xxs-col">
                        <div class="banner-item img-hover_effect">
                            <div class="banner-img">
                                <a href="javascrip:void(0)">
                                    <img class="img-full" src="~/Uploads/Images/Home/2.jpg" alt="Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 custom-xxs-col">
                        <div class="banner-item img-hover_effect">
                            <div class="banner-img">
                                <a href="javascrip:void(0)">
                                    <img class="img-full" src="~/Uploads/Images/Home/3.jpg" alt="Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area Three End Here -->

        <!-- Begin Product Area -->
        <div class="product-area ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h3>New Product</h3>
                            <div class="product-arrow"></div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="kenne-element-carousel product-slider slider-nav" data-slick-options='{
                        "slidesToShow": 4,
                        "slidesToScroll": 1,
                        "infinite": false,
                        "arrows": true,
                        "dots": false,
                        "spaceBetween": 30,
                        "appendArrows": ".product-arrow"
                        }' data-slick-responsive='[
                        {"breakpoint":992, "settings": {
                        "slidesToShow": 3
                        }},
                        {"breakpoint":768, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint":575, "settings": {
                        "slidesToShow": 1
                        }}
                    ]'>
                        @foreach(var item in Model.Products){
                            <div class="product-item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img class="primary-img" src="~/assets/images/product/8-1.jpg" alt="Kenne's Product Image">
                                            <img class="secondary-img" src="~/assets/images/product/8-2.jpg" alt="Kenne's Product Image">
                                        </a>
                                        <span class="sticker">Bestseller</span>
                                        <div class="add-actions">
                                            <ul>
                                                <li class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><a href="javascript:void(0)" data-bs-toggle="tooltip" data-placement="right" title="Quick View"><i
                                                    class="ion-ios-search"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-bs-toggle="tooltip" data-placement="right" title="Add To Wishlist"><i class="ion-ios-heart-outline"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-bs-toggle="tooltip" data-placement="right" title="Add To Compare"><i class="ion-ios-reload"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-bs-toggle="tooltip" data-placement="right" title="Add To cart"><i class="ion-bag"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="single-product.html">@item.Title</a></h3>
                                            <div class="price-box">
                                                     <span class="new-price">$@item.FinalPrice</span>
                                                     <span class="old-price">$@item.Price</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area End Here -->

        <!-- Begin Banner Area Five -->
        <div class="banner-area-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-item img-hover_effect">
                            <div class="banner-img"></div>
                            <div class="banner-content">
                                <span>In-Store & Online</span>
                                <h3>
                                    Men's Backpack
                                    <br>
                                Wallets & More!
                                </h3>
                                <div class="kenne-btn-ps_center">
                                    <a class="kenne-btn transparent-btn black-color square-btn" asp-area="Customer">Discover Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area Five End Here -->

     

       
